<section class="section-container">
  <div class="container menu">
    <div class="row">
      <div class="col">Colors</div>
    </div>

    <div class="row">
      <div class="col">Typography</div>
    </div>

    <div class="row">
      <div class="col">Spaces</div>
    </div>

    <div class="row">
      <div class="col">Buttons</div>
    </div>

    <div class="row">
      <div class="col">Inputs</div>
    </div>

    <div class="row">
      <div class="col">Grid</div>
    </div>
  </div>

  <div class="container-buttons">
    <h1 align="start">Buttons</h1>
    <app-button></app-button>
  </div>
</section>
