<img
  src="../assets/devchallenges.png"
  alt="logo"
  style="width: 30px; margin: 20px; position: absolute; right: 20px; z-index: 1"
/>
<p
  style="
    color: #090f31;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    z-index: 1;
    margin-left: 25px;
    margin-top: 40px;
  "
>
  <span
    style="
      color: #f7542e;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    "
    >Dev</span
  >challenges.io
</p>
<app-lateral-menu></app-lateral-menu>

<!-- <div align="center">
  <h3>
    <a href="https://your-demo-link.your-domain"> Demo </a>
    <span> | </span>
    <a href="https://your-url-to-the-solution"> Solution </a>
    <span> | </span>
    <a href="https://devchallenges.io/challenges/ohgVTyJCbm5OZyTB2gNY">
      Challenge
    </a>
  </h3>
</div> -->
