button {
  cursor: pointer;
  transition: all 0.2s ease;
  width: 81px;
  height: 36px;
}

.default {
  width: 81px;
  height: 36px;
  background-color: #e0e0e0;
  font-weight: 500;
  color: #3f3f3f;
}
.default:hover,
.default:focus {
  background-color: #aeaeae;
  cursor: pointer;
}

.outline {
  width: 88px;
  height: 36px;
  border: 1px solid #3d5afe;
  color: #3d5afe;
  background-color: transparent;
}
.outline:hover,
.outline:focus {
  border-radius: 6px;
  border: 1px solid #3d5afe;
  background: rgba(41, 98, 255, 0.1);
  cursor: pointer;
}

.bgOutline {
  border-radius: 6px;
  width: 88px;
  height: 36px;
  border: 1px solid #3d5afe;
  color: #3d5afe;
  background: rgba(41, 98, 255, 0.1);
}
.bgOutline:hover,
.bgOutline:focus {
  background: rgba(41, 98, 255, 0.1);
  cursor: default;
}

.onlyText {
  width: 88px;
  height: 36px;
  color: #3d5afe;
  background-color: transparent;
  border: none;
}
.onlyText:hover,
.onlyText:focus {
  border-radius: 6px;
  background: rgba(41, 98, 255, 0.1);
  cursor: pointer;
}

.bgOnlyTxt {
  border-radius: 6px;
  background: rgba(41, 98, 255, 0.1);
  color: #3d5afe;
}
.bgOnlyTxt:hover,
.bgOnlyTxt:focus {
  background: rgba(41, 98, 255, 0.1);
  cursor: default;
}

.disableShadow {
  width: 81px;
  height: 36px;
  border-radius: 6px;
  background-color: #3d5afe;
  color: #ffffff;
  box-shadow: 0px 2px 5px 0px #33333333;
  border: none;
}
.disableShadow:hover {
  background-color: #3d5afe;
}

.disabled {
  width: 81px;
  height: 36px;
  border-radius: 6px;
  border: none;
  background-color: #e0e0e0;
  color: #9e9e9e;
}

.disableOnlyTxt {
  background-color: transparent;
  color: #9e9e9e;
}
.disableOnlyTxt:hover {
  background-color: transparent;
  cursor: default;
}

.btnIcon {
  padding-left: 35px;
  width: 105px;
  height: 36px;
  border-radius: 6px;
  background-color: #3d5afe;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btnIcon:focus,
.btnIcon:hover {
  background-color: #3d5afe;
  color: #ffffff;
  cursor: default;
}

.btnIconEnd {
  width: 105px;
  height: 36px;
  border-radius: 6px;
  background-color: #3d5afe;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 35px;
}
.btnIconEnd:hover,
.btnIconEnd:focus {
  background-color: #3d5afe;
  color: #ffffff;
  cursor: default;
}

.sm {
  font-size: 12px;
  width: 73px;
  height: 32px;
}

.md {
  font-size: 14px;
  width: 81px;
  height: 36px;
}

.lg {
  font-size: 16px;
  width: 93px;
  height: 42px;
}

.bgDefault {
  background-color: #aeaeae;
  color: #3f3f3f;
}
.bgDefault:hover {
  cursor: default;
}

.bgPrimary {
  background-color: #2962ff;
  color: #fff;
}

.bgSecondary {
  background-color: #455a64;
  color: #fff;
}

.bgDanger {
  background-color: #d32f2f;
  color: #fff;
}

.bgPrimary:hover,
.bgPrimary:focus {
  background-color: #0039cb;
}

.bgSecondary:hover,
.bgSecondary:focus {
  background-color: #1c313a;
}

.bgDanger:hover,
.bgDanger:focus {
  background-color: #9a0007;
}

.primary {
  background-color: #0039cb;
  color: #fff;
}
.primary:hover {
  background-color: #0039cb;
  color: #fff;
  cursor: default;
}
.secondary {
  background-color: #1c313a;
  color: #fff;
}
.secondary:hover {
  background-color: #1c313a;
  color: #fff;
  cursor: default;
}
.danger {
  background-color: #9a0007;
  color: #fff;
}
.danger:hover {
  background-color: #9a0007;
  color: #fff;
  cursor: default;
}
