<button
  class="btn default"
  [ngClass]="{
    button: true,
    outline: outline,
    disabled: disabled,
    onlyText: onlyText,
    disableShadow: disableShadow,
    disableOnlyTxt: disableOnlyTxt,
    btnIcon: btnIcon,
    btnIconEnd: btnIconEnd,
    sm: sm,
    md: md,
    lg: lg,
    primary: primary,
    secondary: secondary,
    danger: danger,
    bgDefault: bgDefault,
    bgPrimary: bgPrimary,
    bgSecondary: bgSecondary,
    bgDanger: bgDanger,
    bgOutline: bgOutline,
    bgOnlyTxt: bgOnlyTxt
  }"
  [disabled]="disabled"
>
  Default
</button>
