.container-buttons {
  .row {
    align-items: flex-end;
  }
  .col {
    margin-top: 50px;
    position: relative;
    p {
      margin: 0 0 5px 0;
      font-family: "Ubuntu Mono", monospace;
      font-size: 13px;
    }
    i {
      position: absolute;
      bottom: 9px;
      left: 25px;
    }
  }
}

.btnCart:focus .col i {
  position: absolute;
  right: 5px;
  left: unset;
}

.author {
  margin-top: 80px;
  a {
    font-weight: bold;
  }
}
